@model ASP_PROJECT.ViewModels.ListRestaurantsViewModel

<div>
    <h1>Tous vos restaurants</h1>
    <form method="post" asp-controller="Restaurant" asp-action="ConsultRestaurant">
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Type de cuisine</th>
                <th>Description</th>
            </tr>
            @foreach (var resto in Model.ListRestoDb)
            {
                <partial name="_RestaurantSummaryPartial.cshtml" for="@resto" />
            }
        </table>
    </form>
    @if ((string)TempData["RegisterSuccess"] == "success")
    {
        <span class="alert-success"> Le compte restorateur a bien été créé et vous êtes maintenant connecté</span>
    }
    <a class="btn btn-primary ml-2" asp-controller="Restaurant" asp-action="SignRestaurant" asp-route-id="@Model.Restorer.Id">Ajouter un restaurant</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="ConsultRestorerInformations">Retour</a>
</div>