
<div>
    <h3>Bienvenue sur la page de management des commandes </h3>
    <table>
        <tr>
            <th>Restorateur</th>
            <th>Client</th>
        </tr>
        <tr>
            <td>
                <button>
                    <a asp-action="ConsultRestaurantOrders">Consulter Commandes</a>
                </button>
            </td>
        </tr>
    </table>
</div>
