@using Microsoft.AspNetCore.Http
@if (Context.Session.GetString("restorerConnected") != "true" && Context.Session.GetString("customerConnected") != "true")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Inscription">Inscription</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Connexion</a>
    </li>
}
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Restaurant" asp-action="ConsultRestaurant">Acceuil</a>
</li>

@if (Context.Session.GetString("restorerConnected") == "true")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ConsultRestorerInformations">Compte</a>
    </li>
}

@if (Context.Session.GetString("customerConnected") == "true")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ConsultCustomerInformations">Compte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="ConsultCart">Panier</a>
    </li>
}
