@model ASP_PROJECT.ViewModels.Simon.MenuViewModel


<h1>Créer un post</h1>
<div class="text-center">

    <div class="card">
        <form asp-controller="Menu" method="post">
            <table>
                <tr>
                    <td><label asp-for="Menu.Name"></label></td>
                    <td>
                        <input asp-for="Menu.Name" />
                    </td>
                    <td><span asp-validation-for="Menu.Name" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Menu.Description"></label></td>
                    <td>
                        <textarea asp-for="Menu.Description"></textarea>

                    </td>
                    <td><span asp-validation-for="Menu.Description" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Menu.Price"></label>
                    </td>
                    <td>
                        <input asp-for="Menu.Price" class="float-left" />
                    </td>

                </tr>
                <tr>
                    <td><label asp-for="Menu.Service"></label></td>
                    <td>
                        <select asp-for="Menu.Service" asp-items="Model.TypeService"></select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Menu.DishList"></label></td>
                    <td>
                        <select asp-for="SelectedDish"  class="width:200px;height:400px">
                            @foreach (var item in Model.Dlist)
                            {
                                <option value="@(item)">@(item.Name)</option>
                            }
                        </select>
                    </td>
                   
                   
                </tr>
                
                <tr>
                    <td>
                        <button asp-action="AddDishToMenu">Add Dish</button>
                    </td>
                </tr>
                <tr>
                    <td><a asp-action="Index">Annuler</a></td>
                    <td>
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>