<div class="Resto">
    <h1>Resto</h1>
    <form>
        <table class="table">
            <tr>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Pays</th>
                <th>Téléphone</th>
                <th>TVA</th>
            </tr>
        </table>
    </form>
</div>

<div class="Menus">
    <h1>Menus</h1>
    <form>
        <table class="table">
            <tr>
                <th>Service</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </table>
    </form>
</div>

<div class="Plats">
    <h1>Plats</h1>
    <form>
        <table class="table">
            <tr>
                <th>Service</th>
                <th>Type plat</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </table>
    </form>
</div>
<a asp-controller="Menu" asp-action="Index">Retour</a>