<h2>Inscription : </h2>

<form method="post">
    <table class="table">
        <tr>
            <th>Restorateur</th>
            <th>Client</th>
        </tr>
        <tr>
            <td>
                <input type="submit" asp-action="Inscription" asp-route-type="restorer" value="Créer un compte" />
            </td>
            <td>
                <input type="submit" asp-action="Inscription" asp-route-type="customer" value="Créer un compte" />
            </td>
        </tr>
    </table>
</form>