@model ASP_PROJECT.ViewModels.ListRestaurantsViewModel

<div>
    <h1>Tous les restaurants</h1>
    <form method="post" asp-controller="Restaurant" asp-action="ConsultRestaurant">
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Type de cuisine</th>
                <th>Description</th>
            </tr>
            @foreach (var resto in Model.ListRestoDb)
            {
                <partial name="_RestaurantSummaryPartial.cshtml" for="@resto" />
            }
        </table>
    </form>
    @if ((string)TempData["Message"] == "State0")
    {
        <div class="alert alert-success"> Le compte a bien été créé et vous êtes maintenant connecté</div>
    }
    @if ((string)TempData["Message"] == "State10")
    {
        <div class="m-2 alert alert-success">Vous êtes bien connecté</div>
    }
</div>