@model ASP_PROJECT.Models.POCO.Dish
<div class="border p-1">
    <p class="font-weight-bold">@Model.Name</p>
    <p><span class="text-decoration:underline">Description : </span>@Model.Description</p>
</div>
