@model ASP_PROJECT.ViewModels.ListRestaurantsViewModel
<!-- ViewModel -->
<form method="POST" asp-controller="Restaurant" asp-action="ConsultAll">
    <table class="table">
        <tr><h3>Informations restaurant</h3></tr>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Description</th>
            <th>Adresse</th>
            <th>N° TVA</th>
            <th>Ouverture : </th>
            <th>Fermeture : </th>
            <partial name="_RestaurantAllInformationPartial.cshtml" for="@Model.Resto" />
        </tr>
    </table>
    <table class="table">
        <!-- MENU -->
        <tr><h3>MENU</h3></tr>
        <tr>
            <th>Nom
            <th>Description</th>
            <th>Type de service</th>
            <th>Prix</th>
        </tr>
        @foreach (var item in Model.SelectedListMenus)
        {
            <partial name="_RestaurantMenusPartial.cshtml" for="@item" />
        }
    </table>
    <table class="table">
        <!-- PLAT -->
        <tr><h3>PLATS</h3></tr>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Type de service</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.SelectedListDish)
        {
            <partial name="_RestaurantDishesPartial.cshtml" for="@item" />
        }
    </table>
</form>
<a asp-controller="Home" asp-action="Index">Retour</a>
<a asp-controller="Order" asp-action="ConsultCart">Consulter panier</a>