@model ASP_PROJECT.ViewModels.ListRestaurantsViewModel
<!-- ViewModel -->
<form method="POST" asp-controller="Restaurant" asp-action="ConsultAll">
    <table class="table">
        <p>Informations restaurant</p>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Adresse</th>
            <th>N° TVA</th>
            @foreach (var open in Model.Resto.OpeningsTimes)
            {
                <th>Ouverture : </th>
            }
            @foreach (var close in Model.Resto.CloseTimes)
            {
                <th>Fermeture : </th>
            }
            <partial name="_RestaurantAllInformationPartial.cshtml" for="@Model.Resto" />
        </tr>
        <!-- MENU -->
        <tr>
            <th>Nom
            <th>Description</th>
            <th>Type de service</th>
            <th>Prix</th>
        </tr>
        @foreach (var item in Model.SelectedListMenus)
        {
            <partial name="_RestaurantMenusPartial.cshtml" for="@item" />
        }

        <!-- PLAT -->
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Type de service</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.SelectedListDish)
        {
            <partial name="_RestaurantDishesPartial.cshtml" for="@item" />
        }
    </table>
</form>
<a asp-controller="Home" asp-action="Index">Retour</a>
<td><a asp-controller="Order" asp-action="ConsultCart">Consulter panier</a></td>