@model ASP_PROJECT.ViewModels.ListRestaurantsViewModel

<div>
    <h1>Tous les restaurants</h1>
    <form method="post" asp-controller="Restaurant" asp-action="ConsultRestaurant">
        <table class="table">
            <tr>
                @*Pas nécessaire d'afficher toutes les informations dans la page d'accueil*@
                <th>Nom</th>
                <th>Type de cuisine</th>
                <th>Description</th>
            </tr>
            @foreach (var resto in Model.ListRestoDb)
            {
                <partial name="_RestaurantSummaryPartial.cshtml" for="@resto" />
            }
        </table>
    </form>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>