@model ASP_PROJECT.Models.POCO.Restaurant

@{
    List<string> jours = new List<string>();
    jours.Add("Lundi");
    jours.Add("Mardi");
    jours.Add("Mercredi");
    jours.Add("Jeudi");
    jours.Add("Vendredi");
    jours.Add("Samedi");
    jours.Add("Dimanche");
}
<div>
    <h1>Ajout d'un restaurant</h1>
    <form method="post" asp-controller="Restaurant">
        <table>
            <tr>
                <td><label asp-for="Name"></label></td>
                <td>
                    <input asp-for="Name" />
                </td>
                <td><span asp-validation-for="Name" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Description"></label></td>
                <td>
                    <textarea asp-for="Description"></textarea>

                </td>
                <td><span asp-validation-for="Description" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Type"></label></td>
                <td>
                    <select asp-for="Type">
                        <option value="0">Asiatique</option>
                        <option value="1">Mexicain</option>
                        <option value="2">Snack</option>
                        <option value="3">Africain</option>
                        <option value="4">Thaï</option>
                        <option value="5">Grec</option>
                        <option value="6">Sushi</option>
                        <option value="7">Espagnol</option>
                        <option value="8">Pizza</option>
                        <option value="9">Italien</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Address"></label></td>
                <td>
                    <input asp-for="Address" />
                </td>
                <td><span asp-validation-for="Address" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="City"></label></td>
                <td>
                    <input asp-for="City" />
                </td>
                <td><span asp-validation-for="City" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Pc"></label></td>
                <td>
                    <input asp-for="Pc" />
                </td>
                <td><span asp-validation-for="Pc" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Country"></label></td>
                <td>
                    <input asp-for="Country" />
                </td>
                <td><span asp-validation-for="Country" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="NumTVA"></label></td>
                <td>
                    <input asp-for="NumTVA" />
                </td>
                <td><span asp-validation-for="NumTVA" class="text-danger"></span></td>
            </tr>
            @foreach (var item in jours)
            {
                <tr>

                    <td><label>@item</label></td>
                    <td>
                        <input type="text" placeholder="Heure Ouverture" />
                        <input type="text" placeholder="Heure Fermeture" />
                    </td>
                </tr>
            }
            <tr>
                <td><label asp-for="DeliveryCities"></label></td>
                <td>
                    <input asp-for="DeliveryCities" />
                </td>
                <td><span asp-validation-for="DeliveryCities" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><input type="submit" value="Ajouter" asp-action="SignRestaurant" /></td>
            </tr>
        </table>
    </form>
</div>
