@model Customer 
@{ 
    ViewData["Title"] = "Customer form";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="CustomerInscription">
    <table>
        <tr>
            <td>
                <label asp-for="Lastname"></label>
            </td>
            <td>
                <input asp-for="Lastname" />
            </td>
            <td>
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Firstname"></label>
            </td>
            <td>
                <input asp-for="Firstname" />
            </td>
            <td>
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Email"></label>
            </td>
            <td>
                <input asp-for="Email" />
            </td>
            <td>
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password"></label>
            </td>
            <td>
                <input asp-for="Password" />
            </td>
            <td>
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Country"></label>
            </td>
            <td>
                <input asp-for="Country" />
            </td>
            <td>
                <span asp-validation-for="Country" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Address"></label>
            </td>
            <td>
                <input asp-for="Address" />
            </td>
            <td>
                <span asp-validation-for="Address" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Tel"></label>
            </td>
            <td>
                <input asp-for="Tel" />
            </td>
            <td>
                <span asp-validation-for="Tel" class="text-danger"></span>
            </td>
        </tr>
        <tr><!-- A CHANGER -->
            <td>
                <label asp-for="Gender"></label>
            </td>
            <td>
                <input asp-for="Gender" />
            </td>
            <td>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Pc"></label>
            </td>
            <td>
                <input asp-for="Pc" />
            </td>
            <td>
                <span asp-validation-for="Pc" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index"> Retour </a>
            </td>
            <td colspan="2">
                <input type="submit" />
            </td>
        </tr>
    </table>
</form>