@model ASP_PROJECT.ViewModels.DishViewModel

<h1>Créer un plat</h1>
<div class="text-center">

    <form asp-controller="Menu" method="post">
        <table>
            <tr>
                <td><label asp-for="Dish.Name"></label></td>
                <td>
                    <input asp-for="Dish.Name" />
                </td>
                <td><span asp-validation-for="Dish.Name" class="text-danger"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Dish.Description"></label></td>
                <td>
                    <textarea asp-for="Dish.Description"></textarea>

                </td>
                <td><span asp-validation-for="Dish.Description" class="text-danger"></span></td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Dish.Price"></label>
                </td>
                <td>
                    <input asp-for="Dish.Price" class="float-left" />
                </td>

            </tr>
            <tr>
                <td><label asp-for="Dish.Type"></label></td>
                <td>
                    <select asp-for="Dish.Type" asp-items="Model.TypeDish"></select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Dish.Service"></label></td>
                <td>
                    <select asp-for="Dish.Service" asp-items="Model.TypeService"></select>
                </td>
            </tr>
            <tr>
                <td><a asp-action="Index">Annuler</a></td>
                <td>
                    <input type="submit" asp-action="AddDish" />
                </td>
            </tr>
        </table>
    </form>

</div>