<div>
    <h1>Bienvenue sur la page de l'Account controller</h1>
    <div>
        <button><a asp-controller="Account" asp-action="RestorerRegister">Créer un compte de restorateur</a></button>
        <br />
        <button><a asp-controller="Home" asp-action="Index">Retour à l'acceuil</a></button>
    </div>
    


    @if (!String.IsNullOrEmpty((string)TempData["RegisterSuccess"]))
    {
        <div class="padding:10">
            <span class="alert alert-success border border-success">@TempData["RegisterSuccess"]</span>
        </div>
    }
</div>
