@model ASP_PROJECT.ViewModels.ListDishViewModel

<div>
    <h1>Supprimer un plat :</h1>
    <form asp-controller="Menu" method="post">
        <select asp-for="Dish.Id" asp-items="Model.Dishes"></select>
        <input type="submit" value="Supprimer" asp-action="DeleteDish" />
    </form>
    <a asp-action="Index">Retour</a>
</div>