@model ASP_PROJECT.ViewModels.RestaurantOrderViewModel

<div>
        @if ((string)TempData["listOrders"] != "empty")
        {
            <form method="post" asp-controller="Order">
                <table class="table">
                    <tr>
                        <th>Numéro de commande</th>
                        <th>Adresse de livraison</th>
                        <th>Date de commande</th>
                        <th>Prix</th>
                        <th>Informations client</th>
                        <th>Note</th>
                        <th>Détail de la commande</th>
                        <th>Status de la commande</th>
                    </tr>
                    @foreach (var item in @Model.Restaurant.OrdersList)
                    {
                        <tr>
                            <partial name="_OrdersRestaurantInformationsPartial" for="@item" />
                        </tr>
                    }
                </table>
           </form>
        }
        @if ((string)TempData["listOrders"] == "empty")
        {
            <div class="alert-primary p-4">
                <p>Votre restaurant n'a reçu aucune commande. Soyez patient ;-)</p>
                <a class="btn btn-primary" asp-controller="Restaurant" asp-action="ConsultRestorerRestaurants">Retour</a>
            </div>
        }

</div>

