@model ASP_PROJECT.ViewModels.DishViewModel
@using Microsoft.AspNetCore.Http
@{ 
    int RestaurantId = (int)Context.Session.GetInt32("restaurantId");
}
<h1>Créer un plat</h1>
@*<div class="text-center">

        <form asp-controller="Menu" method="post">
            <table>
                <tr>
                    <td><label asp-for="Dish.Name"></label></td>
                    <td>
                        <input asp-for="Dish.Name" />
                    </td>
                    <td><span asp-validation-for="Dish.Name" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Dish.Description"></label></td>
                    <td>
                        <textarea asp-for="Dish.Description"></textarea>

                    </td>
                    <td><span asp-validation-for="Dish.Description" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Dish.Price"></label>
                    </td>
                    <td>
                        <input asp-for="Dish.Price" class="float-left" />
                    </td>

                </tr>
                <tr>
                    <td><label asp-for="Dish.Type"></label></td>
                    <td>
                        <select asp-for="Dish.Type" asp-items="Model.TypeDish"></select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Dish.Service"></label></td>
                    <td>
                        <select asp-for="Dish.Service" asp-items="Model.TypeService"></select>
                    </td>
                </tr>
                <tr>
                    <td><a asp-action="Index">Annuler</a></td>
                    <td>
                        <input type="submit" asp-action="AddDish" />
                    </td>
                </tr>
            </table>
        </form>

    </div>*@

<form class="row g-3" asp-controller="Menu" method="post">
    <div class="col-md-12">
        <label for="firstname" class="form-label" asp-for="Dish.Name"></label>
        <input class="form-control" id="firstname" asp-for="Dish.Name">
        <span asp-validation-for="Dish.Name" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label for="description" class="form-label" asp-for="Dish.Description"></label>
        <textarea class="form-control" id="description" asp-for="Dish.Description"></textarea>
        <span asp-validation-for="Dish.Name" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label for="price" class="form-label" asp-for="Dish.Price"></label>
        <input class="form-control" id="price" asp-for="Dish.Price">
        <span asp-validation-for="Dish.Price" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="type" class="form-label" asp-for="Dish.Type"></label>
        <select id="inputState" class="form-select m-2"asp-for="Dish.Type" asp-items="Model.TypeDish"></select>
    </div>
    <div class="col-md-6">
        <label for="service" class="form-label" asp-for="Dish.Service"></label>
        <select id="inputState" class="form-select m-2"asp-for="Dish.Service" asp-items="Model.TypeService"></select>
    </div>
    <div class="col-6">
        <a class="btn btn-primary" asp-controller="Restaurant" asp-action="ConsultAll" asp-route-restaurantId="@RestaurantId">Annuler</a>
    </div>
    <div class="col-6">
        <input type="submit" class="btn btn-outline-primary mt-2" asp-action="AddDish"/>
    </div>
</form>