@model ASP_PROJECT.Models.POCO.Customer

@{
    ViewData["Title"] = "Modification des informations";
}
<h2>@ViewData["Title"]</h2>


<form class="row g-3" asp-controller="Account" method="post">
    <div class="col-md-6">
        <label for="firstname" class="form-label" asp-for="Firstname"></label>
        <input class="form-control" id="firstname" asp-for="Firstname">
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="lastname" class="form-label" asp-for="Lastname"></label>
        <input class="form-control" id="lastname" asp-for="Lastname">
        <span asp-validation-for="Lastname" class="text-danger"></span>

    </div>
    <div class="col-md-12">
        <label for="dob" class="form-label" asp-for="DoB"></label>
        <input class="form-control" id="dob" asp-for="DoB">
        <span asp-validation-for="DoB" class="text-danger"></span>

    </div>
    <div class="col-md-12">
        <label for="email" asp-for="Email" class="form-label"></label>
        <input class="form-control" type="text" placeholder="@Model.Email" aria-label="Disabled input example" id="email" disabled>
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label" asp-for="Address"></label>
        <input class="form-control" id="inputAddress" asp-for="Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputCity" class="form-label" asp-for="City"></label>
        <input class="form-control" id="inputCity" asp-for="City">
        <span asp-validation-for="City" class="text-danger"></span>

    </div>
    <div class="col-md-2">
        <label for="inputPc" class="form-label" asp-for="Pc"></label>
        <input class="form-control" id="inputPc" asp-for="Pc">
        <span asp-validation-for="Pc" class="text-danger"></span>

    </div>
    <div class="col-md-6">
        <label for="country" class="form-label" asp-for="Country"></label>
        <input class="form-control" type="text" placeholder="@Model.Country" aria-label="Disabled input example" id="country" disabled>
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label" asp-for="Gender"></label>
        <select id="inputState" class="form-select m-2" asp-for="Gender">
            <option value="M">Homme</option>
            <option value="F">Femme</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="Tel" class="form-label" asp-for="Tel"></label>
        <input class="form-control" id="Tel" asp-for="Tel">
        <span asp-validation-for="Tel" class="text-danger"></span>

    </div>
    <div class="col-6">
        <a asp-controller="Account" asp-action="ConsultCustomerInformations" class="btn btn-primary">Annuler</a>
    </div>
    <div class="col-6">
        <input type="submit" class="btn btn-outline-primary mt-2" asp-action="ModifyCustomerInformations" />
    </div>
</form>
    @if (!String.IsNullOrEmpty((string)TempData["AccountModifications"]))
    {
        if ((string)TempData["AccountModifications"] == "invalid")
        {
            <div class="alert alert-danger">
                <p>Veuillez remplir tout les champs</p>
            </div>
        }
    }

