@model ASP_PROJECT.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Connexion";
}

<h1>@ViewData["Title"]</h1>

@if ((string)TempData["Message"] == "State0") {
    <span class="alert-danger">Vous êtes bien connecté</span>
}

<form method="post" asp-controller="Account">
    <table>
        <tr>
            <td>
                <label asp-for="user.Email"></label>
            </td>
            <td>
                <input asp-for="user.Email" />
            </td>
            <td>
                <span asp-validation-for="user.Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="user.Password"></label>
            </td>
            <td>
                <input asp-for="user.Password" type="password" />
            </td>
            <td>
                <span asp-validation-for="user.Password" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index"> Annuler </a>
            </td>
            <td>
                <input type="submit" asp-action="Login"/>
            </td>
        </tr>
    </table>
</form>