@model ASP_PROJECT.Models.POCO.Customer

@{
    ViewData["Title"] = "Inscription d'un client.";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form asp-controller="Account" method="post">
        <table>
            <tr>
                <td>
                    <label asp-for="Firstname"></label>
                </td>
                <td>
                    <input asp-for="Firstname" />
                </td>
                <td>
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Lastname"></label>
                </td>
                <td>
                    <input asp-for="Lastname" />
                </td>
                <td>
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DoB"></label>
                </td>
                <td>
                    <input asp-for="DoB" />
                </td>
                <td>
                    <span asp-validation-for="DoB" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Gender"></label>
                </td>
                <td>
                    <select asp-for="Gender">
                        <option value="M">Homme</option>
                        <option value="F">Femme</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Address"></label>
                </td>
                <td>
                    <input asp-for="Address" />

                </td>
                <td>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="City"></label>
                </td>
                <td>
                    <input asp-for="City" />

                </td>
                <td>
                    <span asp-validation-for="City" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Pc"></label>
                </td>
                <td>
                    <input asp-for="Pc" />
                </td>
                <td>
                    <span asp-validation-for="Pc" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Country"></label>
                </td>
                <td>
                    <span>@Model.Country</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Email"></label>
                </td>
                <td>
                    <span>@Model.Email</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Tel"></label>
                </td>
                <td>
                    <input asp-for="Tel" />
                </td>
                <td>
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-controller="Account" asp-action="Index">Annuler</a>
                </td>
                <td>
                    <input type="submit" asp-action="ModifyCustomerInformations" />
                </td>
            </tr>
        </table>
    </form>
    @if (!String.IsNullOrEmpty((string)TempData["AccountModifications"]))
    {
        if ((string)TempData["AccountModifications"] == "invalid")
        {
            <div class="alert-danger">
                <p>Veuillez remplir tout les champs</p>
            </div>
        }
    }
</div>
