
<div class="align-content-center">
    <p>Bienvenue sur la page de notre Projet Takeway pour travail de fin d'année 2020-2021.</p>
    <p>Nous vous proposons donc de vous inscrire ou de vous connecter afin de pouvoir commander dans l'un des restaurants.</p>
    <div class="row">
        <div class="card col-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Inscription</h5>
                <p class="card-text">Vous pouvez créer un compte client ou un compte restorateur</p>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Inscription">S'inscrire</a>
            </div>
        </div>
        <div class="card col-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Connexion</h5>
                <p class="card-text">Connectez vous pour pouvoir accèder à votre compte</p>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Se connecter</a>
            </div>
        </div>
    </div>
</div>

