@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-controller="Menu" asp-action="Index">Menu management</a></p>
    <p><a asp-controller="Account" asp-action="Index">Account Management</a></p>

    <p><a asp-controller="Account" asp-action="CustomerInscription">New Customer</a></p>
    <p><a asp-controller="Restaurant" asp-action="ConsultRestaurant">Consult Restaurant</a></p>
    <p><a asp-controller="Restaurant" asp-action="Index">Restaurant Management</a></p>
    <p><a asp-controller="Account" asp-action="Login">Connexion</a></p>
    <p><a asp-controller="Order" asp-action="Index">Order Management</a></p>
</div>
